@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  @apply transition-colors duration-100;
} */

html {
  scroll-behavior: smooth;
}

.theme-button {
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: rgb(71 85 105);
  left: -0.25rem;
  top: -0.25rem;
  transition: transform 0.4s ease;
}

.theme-button.darkmode {
  background-color: white;
  transform: translateX(1rem);
}

.card-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-container:hover .overlay {
  opacity: 70%;
}

.text-container {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-container:hover .text-container {
  opacity: 1;
}

.card-container img {
  transition: transform 0.3s ease;
}

.card-container:hover img {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    z-index: 3;
  }

  .navmenu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    width: 80%;
    height: 100vh;
    border: 1px solid black;
    top: 0;
    right: -100%;
    z-index: 3;
    background-color: #e3ddcd;
    padding: 80px;
    gap: 2em;
    transition: 0.3s ease-in-out;
  }

  .navmenu.opened {
    right: 0;
  }

  .hamburger {
    position: fixed;
    display: block;
    z-index: 4;
    top: 20px;
    right: 32px;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }

  .hamburger.opened .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.opened .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.opened .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .dimmer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition: 0.3s ease-in-out;
    pointer-events: none;
  }

  .dimmer.opened {
    opacity: 0.5;
  }
}
